# Chisquare Test

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [14]:
from scipy.stats import chi2_contingency
import pandas as pd
from scipy import stats as stats

In [27]:
df= pd.read_csv('D:\Excel_R_DS\Assignments\Hypothesis_Testing/Customer_OrderForm.csv')

In [28]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [29]:
print(df['Phillippines'].value_counts(),
      df['Indonesia'].value_counts(),
      df['Malta'].value_counts(),
      df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [30]:
# defining the table
data = [[271,267,269,280],[29,33,31,20]]

In [31]:
data

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [32]:
stat, p, dof, expected = chi2_contingency(data)

In [33]:
p

0.2771020991233135

In [34]:
stat

3.858960685820355

In [35]:
dof

3

In [36]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [37]:
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.2771020991233135
Independent (H0 holds true)

In [ ]:
# that means both are independent groups, there doesn't exist an association between groups